<div class="container-fluid row">
    <div *ngIf='!isAdmin'>
        <div class="d-flex flex-row-reverse mb-4">
            <p-button pRipple (click)="visibleContent()" icon="pi pi-plus" label="Create Feedback/Complaint" severity="success"></p-button>
            <p-dialog [(visible)]="visible" [style]="{'width': '45vw', 'height': '100vh'}"
                [breakpoints]="{ '960px': '90vw' }" [modal]="true" [dismissableMask]="true" [draggable]="false"
                (onHide)="onCloseButton()">
                <ng-template pTemplate="header">
                    <div class="container row">
                        <h2>Create Feedback or Complaint</h2>
                    </div>
                </ng-template>

                <ng-template pTemplate="body">
                    <div class="container row">
                        <span class="p-float-label mt-4 col flex">
                            <p-dropdown [(ngModel)]="selectedType" inputId="float-label" placeholder="Type"
                                [options]="type" optionLabel="name"></p-dropdown>
                            <label class="ms-2" for="unit">Type</label>
                        </span>
                    </div>

                    <div class="container row">
                        <span class="p-float-label mt-4 col">
                            <input [(ngModel)]="title" required="true" type="text" pInputText />
                            <label for="float-label" class="ms-2">Title</label>
                        </span>
                    </div>

                    <div class="container row justify-content-center">
                        <span class="p-float-label my-4">
                            <textarea [(ngModel)]="description" style="width:100%;" rows="5" pInputTextarea
                                [autoResize]="true"></textarea>
                            <label for="float-label" class="ms-2">Description</label>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div>
                        <p-button icon="pi pi-check" (click)="createFeedbackComplaint()"
                            [style]="{'width': '3.125em', 'height':'3.125em'}" severity="success"></p-button>
                    </div>
                </ng-template>
            </p-dialog>
        </div>
    </div>

    <!-- Admin View For list of feedbacks and complaints -->
    <div *ngIf='isAdmin'>
        <div class="container-fluid">
            <h2 class="text-center">Feedback and Complaints</h2>
            <p-table [breakpoint]="'960px'" [tableStyle]="{'min-width': '50rem'}" [value]="adminDatas?.slice()" #dt1
                dataKey="cms_id" [paginator]="adminDatas?.length > rows" [rows]="rows"
                styleClass="p-datatable-striped p-datatable-gridlines"
                [globalFilterFields]="['Full Name', 'Title', 'Description', 'Type', 'Date Posted', 'Status']"
                [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

                <ng-template pTemplate="caption">
                    <div class="container d-flex justify-content-between">
                        <div>
                            <p-button label="Refresh" icon="pi pi-refresh" [raised]="true" [outlined]="true"
                                (click)="getReportsData()"></p-button>
                        </div>

                        <div>
                            <p-button label="Clear" [raised]="true" [outlined]="true" icon="pi pi-filter-slash"
                                (click)="clear(dt1);" class="me-3">
                            </p-button>
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" [(ngModel)]="searchText"
                                    (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                                    placeholder="Search keyword" />
                            </span>
                        </div>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th class="text-center" *ngFor="let column of adminDatas?.slice()[0] | keys">
                            <ng-container *ngIf="column !== 'user_id' && column !== 'cms_id' && column !== 'Notes'">
                                {{ column }}
                            </ng-container>
                        </th>

                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-expanded="expanded">
                    <tr>
                        <td>
                            <p-button *ngIf="rowData['Notes'] && rowData['Notes'].length > 0" type="button" pRipple
                                [pRowToggler]="rowData" [text]="true" [rounded]="true" [plain]="true"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                        </td>
                        <td *ngFor="let column of adminDatas?.slice()[0] | keys">

                            <span
                                *ngIf="column !== 'Date Posted' && column !== 'Time Posted' && column !== 'user_id' && column !== 'Status' && column !== 'cms_id' && column !== 'Notes'">
                                {{ rowData[column] }}</span>
                            <span *ngIf="column === 'Date Posted'">
                                {{rowData[column] | date:"MMM dd, yyyy 'at' hh:mm a"}}</span>
                            <span *ngIf="column === 'Status'">
                                <p-tag (click)="resolveOrDeny(rowData, rowData[column])"
                                    [severity]="rowData[column] == 'PENDING' ? 'warning' : severity.getSeverity(rowData[column])"
                                    [value]="rowData[column]"> </p-tag>
                            </span>
                        </td>

                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-rowData>
                    <tr>
                        <td colspan="100%">
                            <p-table [value]="rowData['Notes']" [tableStyle]="{'min-width': '30rem'}">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Comment</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-note>
                                    <tr>
                                        <td>{{ note }}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <!-- Window to resolve or deny feedback/complaint -->
    <p-dialog [(visible)]="resolveOrDenyWindow" [style]="{'width': '45vw', 'height': '100vh'}"
        [breakpoints]="{ '960px': '90vw' }" [modal]="true" [dismissableMask]="true" [draggable]="false"
        (onHide)="closeResolveOrDenyWindow()">
        <ng-template pTemplate="header">
            <div class="container row">
                <h2>{{ feedbackComplaintSelectedTitle }}</h2>
            </div>
        </ng-template>

        <ng-template pTemplate="body">

            <div class="container row">
                <h3>{{ feedbackComplaintDescription }}</h3>
            </div>

            <div class="container row justify-content-center">
                <span class="p-float-label my-4">
                    <textarea [ngClass]="{'ng-invalid': requireNotes,'ng-dirty': requireNotes}"
                        [(ngModel)]="feedbackComplaintNotes" style="width:100%;" rows="5" pInputTextarea
                        [autoResize]="true"></textarea>
                    <label for="float-label" class="ms-2">Notes:</label>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div>
                <p-button class="me-3" (click)="denyFeedbackComplaint()" label="Deny" severity="danger" icon="pi pi-ban"
                    [style]="{'height':'3.125em'}"></p-button>
                <p-button class="me-3" (click)="resolveFeedbackComplaint()" label="Resolve" severity="success"
                    icon="pi pi-check" [style]="{'height':'3.125em'}"></p-button>
            </div>
        </ng-template>
    </p-dialog>

    <div *ngIf="datas != null">
        <h2 class="text-center">Your Feedbacks and Complaints</h2>
        <p-table [breakpoint]="'960px'" [tableStyle]="{'min-width': '50rem'}" [value]="datas?.slice()" #dt2
            dataKey="cms_id" [expandedRowKeys]="expandedRows" styleClass="p-datatable-striped p-datatable-gridlines"
            [globalFilterFields]="['Title', 'Description', 'Type', 'Date Posted']" [paginator]="datas?.length > rows"
            [rows]="rows" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

            <ng-template pTemplate="caption">
                <div class="d-flex flex-column flex-md-row justify-content-between gap-3">
                    <div class="d-flex flex-row gap-2">
                        <p-button label="Refresh" icon="pi pi-refresh" [raised]="true" [outlined]="true" severity="success"
                            (click)="refreshTable(dt2)"></p-button>
                            <p-button label="Clear" [raised]="true" [outlined]="true" severity="danger" icon="pi pi-filter-slash"
                            (click)="clear(dt2);" class="me-3">
                        </p-button>
                    </div>

                    <div>
                        
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" [(ngModel)]="searchText2"
                                (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
                                placeholder="Search keyword" />
                        </span>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th class="text-center" *ngFor="let column of datas?.slice()[0] | keys">
                        <ng-container *ngIf="column !== 'Notes' &&  column !== 'cms_id'">
                            {{ column }}
                        </ng-container>
                    </th>

                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-expanded="expanded">
                <tr>
                    <td>
                        <p-button *ngIf="rowData['Notes'] && rowData['Notes'].length > 0" type="button" pRipple
                            [pRowToggler]="rowData" [text]="true" [rounded]="true" [plain]="true"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                    </td>
                    <td *ngFor="let column of datas?.slice()[0] | keys" class="text-center">
                        <span
                            *ngIf="column !== 'Notes' && column !== 'cms_id' && column !== 'Status' && column !== 'Date Posted' && column !== 'Time Posted'">{{
                            rowData[column] }}</span>
                        <span *ngIf="column === 'Date Posted'">
                            {{rowData[column] | date:"MMM dd, yyyy 'at' hh:mm a"}}
                        </span>
                        <span *ngIf="column === 'Status'" class="d-flex justify-content-center">
                            <p-tag
                                [severity]="rowData[column] == 'PENDING' ? 'warning' : severity.getSeverity(rowData[column])"
                                [value]="rowData[column]"> </p-tag>
                        </span>
                        <!-- <span *ngIf="column === 'Time Posted'">{{rowData[column] | convertFrom24To12Format}}</span> -->
                    </td>

                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-rowData>
                <tr>
                    <td colspan="100%">
                        <p-table [value]="rowData['Notes']" [tableStyle]="{'min-width': '30rem'}">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Comment</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-note>
                                <tr>
                                    <td>{{ note }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>