.reservation-form {
  max-width: 500px;
  margin-left: 20%;
}

.inputs {
  display: block;
  justify-content: space-between;
}

.input-wrapper {
  margin-right: 10px;
  @media (max-width: 768px){
    margin-top: 10%;
  }
}

.reservation-message {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
}

.input-2 {
  display: flex;
  
}

.input-3{
display: block;
}

.calendar {
  display: flex;
  margin-right: 20%;
}

.button {
  width: 50px;
  height: 50px;
  padding: 0;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .reservation-form {
    flex-direction: column;
    align-items: flex-start;
  }

  .inputs {
    flex-direction: column;
  }

  .calendar {
    margin-top: 0;
  }
  .input-2 {
    flex-direction: column;
  }
  
  .mobile{
    margin-top: 10px;
  }
}


  

