<div class="d-flex flex-row-reverse mb-4">
  <p-button *ngIf="!isAdmin" pRipple label="Reserve a Date" (click)="reserveWindow()"
    icon="bi bi-calendar4-event"></p-button>
  <p-dialog [(visible)]="rsrveWndow" [style]="{'width': '45vw', 'height': '100vh'}" [breakpoints]="{ '960px': '90vw' }"
    [modal]="true" [dismissableMask]="true" [draggable]="false">

    <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
      <div class="reservation-form container">
        <p-fieldset [legend]="'Entries'" class="custom">

          <div *ngIf="!isAdmin" class="registration-form">
            <div class="row justify-content-center">
              <div class="form-group col">
                <p-dropdown [options]="venue" formControlName="selectedVenue" optionLabel="name"
                  placeholder="Select Venue" (onChange)="onVenueSelect($event)"></p-dropdown>
              </div>

              <div class="form-group col">
                <p-calendar placeholder="Select Date" formControlName="date_to_post" [touchUI]="true"
                  [iconDisplay]="'input'" [showIcon]="true" [showTime]="true" hourFormat="12" inputId="buttondisplay"
                  id="date_to_post" [minDate]="today" (onSelect)="onDateSelect($event)"
                  appendTo="body"></p-calendar>
              </div>

              <div class="col">
                <input class="opacity-100" type="text" pInputText [disabled]="true" variant="filled" [(ngModel)]="timeSlots" [ngModelOptions]="{standalone: true}"/>
              </div>
            </div>

            <div class="form-group">
              <p-inputNumber *ngIf="venueSelected" placeholder="No. of Pax" suffix=" pax" formControlName="pax" [min]="paxMin" [max]="paxMax" />
              <label for="No. of Pax" *ngIf="venueSelected">*Maximum of {{ paxMax }}</label>
            </div>

            <div class="form-group">
              <input type="text" pInputText placeholder="Enter Title" formControlName="title" />
            </div>

            <div class="form-group">
              <textarea rows="5" pInputTextarea formControlName="description"
                placeholder="Enter Description"></textarea>
            </div>

            <div class="form-group">

              <div class="button" *ngIf="!isAdmin">
                <p-toast />
                <button pButton pRipple label="Submit" class="p-button-danger mt-3"
                  style="border-radius: 10px;"></button>
              </div>
            </div>
          </div>
        </p-fieldset>
      </div>
    </form>

  </p-dialog>
</div>
<p-confirmDialog />

<div class="container-fluid my-4 card" *ngIf="!isAdmin">
  <h3 class="text-center">Reservation Information</h3>
  <p-table [value]="cmsData" [breakpoint]="'960px'" [tableStyle]="{'min-width': '50rem'}"
    styleClass="p-datatable-striped p-datatable-gridlines">

    <ng-template pTemplate="header">
      <tr>
        <th>Title</th>
        <th>Venue</th>
        <th>No. of Pax</th>
        <th>Time Slot</th>
        <th>Booking Date</th>
        <th>Description</th>
        <th>Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cms>
      <tr>
        <td>{{ cms.title }}</td>
        <td>{{ cms.selectedVenue }}</td>
        <td>{{ cms.pax}}</td>
        <td>{{ cms.selectedTimeSlot }}</td>
        <td>{{ (cms.date_to_post | date: 'fullDate') }}</td>
        <td>{{ getDescriptionWithoutVenueAndTimeSlot(cms.description) }}</td>
        <td>
          <p-tag [severity]="severity.getSeverity(cms.status)"
            [value]="cms.status == 'PAID' ? 'Approved' : (cms.status == 'REVIEW' ? 'Denied' : 'Pending')"></p-tag>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div *ngIf="isAdmin">
  <div class="card">
    <h3 class="text-center">Pending Reservations</h3>
    <p-table [value]="cmsData" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Title</th>
          <th>Venue</th>
          <th>No. of Pax</th>
          <th>Time Slot</th>
          <th>Booking Date</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cms>
        <tr>
          <td>{{ cms.title }}</td>
          <td>{{ cms.selectedVenue }}</td>
          <td>{{ cms.pax}}</td>
          <td>{{ cms.selectedTimeSlot }}</td>
          <td>{{ (cms.date_to_post | date: 'fullDate') }}</td>
          <td>{{ getDescriptionWithoutVenueAndTimeSlot(cms.description) }}</td>
          <td>
            <div class="button-group">
              <p-toast />

              <button icon="pi pi-check" pButton pRipple class="p-button-success"
                style="border-radius: 10px; height: 35px;" (click)="confirmApprove(cms, $event)"></button>
              <button icon="pi pi-times" pButton pRipple class="p-button-danger"
                style="border-radius: 10px; height: 35px;" (click)="confirmReject(cms, $event)"></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="card flex justify-content-center">
    <p-panel header="Approved Entries" [toggleable]="true">
      <p-table [value]="approvedEntries" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
          <tr>
            <th>Title</th>
            <th>Venue</th>
            <th>No. of Pax</th>
            <th>Time Slot</th>
            <th>Booking Date</th>
            <th>Description</th>
            <th>Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cms>
          <tr>
            <td>{{ cms.title }}</td>
            <td>{{ cms.selectedVenue }}</td>
            <td>{{ cms.pax}}</td>
            <td>{{ cms.selectedTimeSlot }}</td>
            <td>{{ (cms.date_to_post | date: 'fullDate') }}</td>
            <td>{{ getDescriptionWithoutVenueAndTimeSlot(cms.description) }}</td>
            <td>
              <p-tag [value]="'Approved'" [severity]="'success'" />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>

  <div class="card flex justify-content-center">
    <p-panel header="Rejected Entries" [toggleable]="true">
      <p-table [value]="rejectedEntries" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
          <tr>
            <th>Title</th>
            <th>Venue</th>
            <th>No. of Pax</th>
            <th>Time Slot</th>
            <th>Description</th>
            <th>Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cms>
          <tr>
            <td>{{ cms.title }}</td>
            <td>{{ cms.selectedVenue }}</td>
            <td>{{ cms.pax}}</td>
            <td>{{ (cms.selectedTimeSlot | date: 'fullDate') }}</td>
            <td>{{ getDescriptionWithoutVenueAndTimeSlot(cms.description) }}</td>
            <td>
              <p-tag [value]="'Rejected'" [severity]="'danger'" />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>