<div class="card">
  <div class="card">
    <h2>Owner Tenant Ratio Per Tower</h2>
    <div id="chart"></div>
  </div>
  <div class="card container row mb-4">
    <h2>Collection Efficiency Rate</h2>
    <div id="collectionRate"></div>
  </div>
  <h2 class="text-center">Monthly Revenue</h2>
  <div id="MonthlyChart"></div>
  <p-table [value]="monthlyRevenues" #dt1 dataKey="id">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let column of monthlyRevenues[0] | keys">{{ column }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td *ngFor="let column of monthlyRevenues[0] | keys">
          <!-- Apply the custom pipe to the avgFloorNumber -->
          <span *ngIf="column === 'Tower Number'">{{ rowData[column]}}</span>
          <!-- Other columns without formatting -->
          <span *ngIf="column !== 'Tower Number'"
            [ngClass]="{'negative-revenue': column === 'Revenue' && rowData[column] < 0}">{{ rowData[column] |
            decimalFormat}}</span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="card">
  <h2 class="text-center">Overall Data</h2>
  <div id="OverallChart"></div>
</div>