.input-container {
    width: 30%; /* Adjust the width as needed */
    padding: 5px; /* Add some padding to create space */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 25px; 
  }

.p-button-danger{
    margin-top: 5px;
    border-radius: 10px;
    height: 25px;
    text-align: center;
}