<div *ngIf="!isTENANT" class="d-flex flex-row-reverse bd-highlight">
    <p-button pRipple (click)="showSingleInvoiceWindow()" icon="pi pi-plus" label="Issue Rent Invoice" severity="success"></p-button>
    <p-dialog [(visible)]="singleInvoice" [style]="{'width': '45vw'}" [breakpoints]="{ '960px': '90vw' }" [modal]="true"
        [dismissableMask]="true" [draggable]="true" (onHide)="resetSingleInvoiceWindow()">

        <ng-template pTemplate="header">
            <div class="container">
                <h2 class="text-center">Issue Rent Invoice</h2>
            </div>
        </ng-template>

        <ng-template pTemplate="body">
            <form [formGroup]="invoiceForm">
                <div class="d-flex flex-column flex-md-row justify-content-center gap-3 my-4">
                    <span class="p-float-label mb-3 mb-md-0">
                        <p-dropdown [options]="issue_names" optionLabel="name" formControlName="issue_to"
                            appendTo="body" [filter]="true" filterBy="name" [showClear]="true" [style]="{'width':'120px'}"/>
                        <label for="issue_to">Issue To:</label>
                    </span>
            
                    <span class="p-float-label mb-3 mb-md-0">
                        <p-calendar formControlName="due_date" [iconDisplay]="'input'" [showIcon]="true" appendTo="body"
                            [showButtonBar]="true" [touchUI]="true" [minDate]="today" [inputStyle]="{'width':'150px'}"
                            inputId="start_date">
                        </p-calendar>
                        <label for="start_date">Due Date:</label>
                    </span>
            
                    <span class="p-float-label">
                        <p-inputNumber formControlName="amount" [min]="0" mode="currency" currency="PHP"
                            locale="en-US"></p-inputNumber>
                        <label for="float-label" class="ms-2">Amount:</label>
                    </span>
                </div>
            </form>            
        </ng-template>

        <ng-template pTemplate="footer">
            <div>
                <button type="submit" class="btn btn-rounded btn-success" [disabled]="invoiceForm.invalid"
                    (click)="btnCreateInvoice()">Submit</button>
            </div>
        </ng-template>


    </p-dialog>
</div>

<div class="mt-4">
    <h2 *ngIf="!isTENANT" class="text-center mb-4 text-uppercase fw-bold">Tenant Information</h2>
    <div class="container-fluid" *ngIf="pendingTenants.length > 0">
        <h2>Pending Tenants</h2>
        <div class="table-responsive">
            <p-table [breakpoint]="'960px'" [tableStyle]="{'min-width': '50rem'}" [value]="pendingTenants.slice()"
                styleClass="p-datatable-striped p-datatable-gridlines">

                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let column of pendingTenants.slice()[0] | keys">
                            <span *ngIf="column == 'Full Name' || column == 'Unit' || column == 'Phone Number'">
                                {{ column }}
                            </span>
                        </th>
                        <th>Action</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData>
                    <tr>
                        <td *ngFor="let column of pendingTenants.slice()[0] | keys">
                            <span
                                *ngIf="column == 'Full Name' || column == 'Unit' || column == 'Email' || column == 'Phone Number'">
                                {{ rowData[column] }}
                            </span>
                        </td>
                        <td>
                            <button (click)="showLeaseWindow(rowData)"
                                class="bi bi-check btn btn-success rounded-circle" type="submit"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-dialog [(visible)]="leaseWindow" [style]="{'width': '45vw'}" [breakpoints]="{ '960px': '90vw' }" [modal]="true"
    [dismissableMask]="true" [draggable]="false" (onHide)="resetLeaseWindow()">

    <ng-template pTemplate="header">
        <div *ngIf="!isTENANT" class="container">
            <h2 class="text-center">Lease Form</h2>
        </div>
        <div *ngIf="isTENANT" class="container">
            <h2 class="text-center">Review Payment to Owner</h2>
        </div>
    </ng-template>

    <ng-template pTemplate="body">
        <div *ngIf="!isTENANT">
            <form [formGroup]="leaseForm">
                <div class="mb-4 text-center">
                    <p-fileUpload mode="basic" chooseLabel="Upload Contract" accept="image/*" [maxFileSize]="1000000"
                        (uploadHandler)="storeImageData($event)" [auto]="true" [customUpload]="true"
                        invalidFileTypeMessageDetail="Allowed file types: jpg, jpeg, png, gif, bmp" width="100">
                    </p-fileUpload>
                </div>

                <div class="mb-4 text-center" *ngIf="imageSrc">
                    <p-image [src]="imageSrc" width="250" [preview]="true"></p-image>
                </div>

                <div class="d-flex justify-content-around mb-4">
                    <span class="p-float-label">
                        <p-inputNumber (ngModelChange)="computeEndDateTotalBalance()" formControlName="number_of_months"
                            [min]="1" [showButtons]="true" [useGrouping]="false"></p-inputNumber>
                        <label for="number_of_months">Number of Month(s)</label>
                    </span>

                    <span class="p-float-label">
                        <p-inputNumber (ngModelChange)="computeEndDateTotalBalance()" formControlName="monthly_rent"
                            [min]="0" mode="currency" currency="PHP" locale="en-US"></p-inputNumber>
                        <label for="float-label" class="ms-2">Monthly Rent</label>
                    </span>
                </div>

                <div class="d-flex justify-content-around mb-4">
                    <span class="p-float-label">
                        <p-calendar (ngModelChange)="computeEndDateTotalBalance()" formControlName="start_date"
                            [iconDisplay]="'input'" [showIcon]="true" appendTo="body" [showButtonBar]="true"
                            [touchUI]="true" [minDate]="today" [inputStyle]="{'width':'150px'}" inputId="start_date">
                        </p-calendar>
                        <label for="start_date">Start Date</label>
                    </span>

                    <span class="p-float-label">
                        <p-calendar [ngModelOptions]="{standalone: true}" [(ngModel)]="endDate" [disabled]="true"
                            [iconDisplay]="'input'" [showIcon]="true" appendTo="body" [inputStyle]="{'width':'150px'}">
                        </p-calendar>
                        <label for="start_date">End Date</label>
                    </span>
                </div>

                <div class="d-flex justify-content-center">
                    <span class="p-float-label">
                        <p-inputNumber [ngModelOptions]="{standalone: true}" [(ngModel)]="totalBalance"
                            [disabled]="true" mode="currency" currency="PHP" locale="en-US"></p-inputNumber>
                        <label for="float-label">Total Monthly Balance</label>
                    </span>
                </div>
            </form>
        </div>
        <div *ngIf="isTENANT">
            <div class="mb-4 text-center">
                <p-fileUpload mode="basic" chooseLabel="Upload Proof of Payment" accept="image/*"
                    [maxFileSize]="1000000" (uploadHandler)="storeImageData($event)" [auto]="true" [customUpload]="true"
                    invalidFileTypeMessageDetail="Allowed file types: jpg, jpeg, png, gif, bmp" width="100">
                </p-fileUpload>
                <span class="h6 text-secondary" *ngIf="!imageSrc">*Optional</span>

                <div class="mb-4 text-center" *ngIf="imageSrc">
                    <p-image [src]="imageSrc" width="250" [preview]="true"></p-image>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <div *ngIf="!isTENANT">
            <button type="submit" class="btn btn-rounded btn-success" [disabled]="leaseForm.invalid"
                (click)="onConfirm()">Submit</button>
        </div>
        <div *ngIf="isTENANT">
            <button type="submit" class="btn btn-rounded btn-success" (click)="onTenantConfirm()">Submit</button>
        </div>
    </ng-template>
</p-dialog>

<div *ngIf="!isTENANT" class="card mb-4">
    <h3>Active Tenants</h3>
    <div class="table-responsive">
        <p-table [breakpoint]="'960px'" [tableStyle]="{'min-width': '50rem'}" [value]="leases.slice()"
            styleClass="p-datatable-striped p-datatable-gridlines">

            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let column of leases.slice()[0] | keys">
                        <span *ngIf="column !== 'lease_agreement_id' && column !== 'user_id'">
                            {{ column }}
                        </span>
                    </th>
                    <!-- <th>Action</th> -->
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData>
                <tr>
                    <td *ngFor="let column of leases.slice()[0] | keys">
                        <span *ngIf="column == 'Full Name'">
                            {{ rowData[column] }}
                        </span>
                        <span *ngIf="column == 'Unit'">
                            {{ rowData[column] | async}}
                        </span>
                        <span *ngIf="column == 'Contract'">
                            <p-image *ngIf="rowData[column]" [src]="rowData[column]" width="100"
                                [preview]="true"></p-image>
                        </span>
                        <span *ngIf="column == 'Monthly Rent' || column == 'Remaining Balance'">
                            {{ rowData[column] | currency:'PHP' }}
                        </span>
                        <span *ngIf="column == 'Start Date' || column =='End Date'">
                            {{ rowData[column] | date:'longDate'}}
                        </span>
                    </td>
                    <!-- <td>
                        <button (click)="removeTenant(rowData)" class="bi bi-x btn btn-danger rounded-circle"
                            type="button"></button>

                    </td> -->
                </tr>
            </ng-template>

        </p-table>
    </div>
</div>

<div *ngIf="!isTENANT" class="card mb-4">
    <h3>Invoices</h3>
    <div class="table-responsive">
        <p-table [breakpoint]="'960px'" [tableStyle]="{'min-width': '50rem'}" [value]="historyInvoice"
            styleClass="p-datatable-striped p-datatable-gridlines" [paginator]="historyInvoice.length > 10" [rows]="10"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let column of historyInvoice[0] | keys">
                        <span
                            *ngIf="column !== 'lease_agreement_id' && column !== 'user_id' && column !== 'payment_id'">
                            {{ column }}
                        </span>
                    </th>
                    <th>Action</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData>
                <tr>
                    <td *ngFor="let column of historyInvoice.slice()[0] | keys">
                        <span *ngIf="column == 'Due Date'">
                            {{ rowData[column] | date:'fullDate'}}
                        </span>
                        <span *ngIf="column == 'Amount'">
                            {{ rowData[column] | currency:'PHP'}}
                        </span>
                        <span *ngIf="column == 'Full Name'">
                            {{ rowData[column] }}
                        </span>
                        <span *ngIf="column == 'Image'">
                            <p-image [src]="rowData[column]" [preview]="true"
                                width="250" />
                        </span>

                        <span *ngIf="column == 'Status'">
                            <p-tag [value]="rowData[column]" [severity]="severity.getSeverity(rowData[column])"></p-tag>
                        </span>
                    </td>
                    <td class="d-flex flex-row gap-1" *ngIf="rowData['Status'] == 'REVIEW';">
                        <button (click)="markPaid(rowData)" class="bi bi-check btn btn-success rounded-circle"
                            type="button"></button>
                        <button (click)="markPending(rowData)" class="bi bi-x btn btn-danger rounded-circle"
                            type="button"></button>
                    </td>
                </tr>
            </ng-template>

        </p-table>
    </div>

</div>

<div *ngIf="isTENANT">
    <div class="border" *ngIf="ownerName && ownerMobileNo">
        <h2>Owner Information</h2>
        <div class="container-fluid mb-4 card">
            <div class="row">
                <div class="col">
                    <h3>{{ ownerName }}</h3>
                </div>
                <div class="col">
                    <div class="h3">Leasing:</div>
                    <h3>{{ unitInfo }}</h3>
                </div>
                <div class="col">
                    <h3>{{ ownerMobileNo }}</h3>
                </div>
            </div>
        </div>
    </div>
    <h2>Payment History</h2>
    <p-table [value]="tenantHistoryInvoice" styleClass="p-datatable-striped"
        [paginator]="tenantHistoryInvoice.length > 10" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let column of tenantHistoryInvoice[0] | keys">
                    <span *ngIf="column !== 'payment_id' && column !== 'lease_agreement_id'">
                        {{ column }}
                    </span>
                </th>
                <th>Action</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td *ngFor="let column of tenantHistoryInvoice[0] | keys">
                    <span *ngIf="column == 'Due Date'">
                        {{ rowData[column] | date:'fullDate'}}
                    </span>
                    <span *ngIf="column == 'Image'">
                        <p-image [src]="rowData[column]" [preview]="true"
                                width="250" />
                    </span>
                    <span *ngIf="column == 'Amount'">
                        {{ rowData[column] | currency:'PHP' }}
                    </span>
                    <span *ngIf="column == 'Status'">
                        <p-tag [severity]="severity.getSeverity(rowData[column])" [value]="rowData[column]"></p-tag>
                    </span>
                </td>
                <td *ngIf="rowData['Status'] == 'PENDING';">
                    <button (click)="showLeaseWindow(rowData)" class="bi bi-caret-right btn btn-primary rounded-circle"
                        type="button"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>