<h1>Tenant Information</h1>
<div *ngIf="leases.length > 0" class="card">
    <p-table [value]="leases" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Monthly Rent</th>
                <th>Contract</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Remaining Balance</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lease>
            <tr *ngFor="let lease of leases">
                <td>{{ lease.tenant_info.first_name }} {{ lease.tenant_info.last_name }}</td>
                <td>₱{{ lease.monthly_rent.toLocaleString() }}<div class="card flex justify-content-center">
                    <span class="p-float-label mt-4">
                    <p-inputNumber inputId="currency-philippines" mode="currency" [(ngModel)]="updatedMonthlyRent" currency="PHP"></p-inputNumber>
                    <label for="number-input">Amount</label>
                    <button pButton pRipple label="Submit" class="p-button-danger" (click)="updateRent(lease)"></button>
                    </span>
                    </div>
                </td>
                <!-- <td>{{ lease.contract }}</td> -->
                <div *ngIf="imageSrc">
                <img [src]="imageSrc ? imageSrc : selectedItem.image_path" alt="Uploaded Image">
                </div>
                <p-fileUpload [auto]="true" mode="basic" chooseLabel="Choose" accept="image/*" 
                [maxFileSize]="1000000" 
                (uploadHandler)="storeImageData($event, selectedItem?.lease_agreement_id)" chooseLabel="Browse" [customUpload]="true"
                invalidFileTypeMessageDetail="Allowed file types: jpg, jpeg, png, gif, bmp" width="100"></p-fileUpload>
                <td>{{ lease.start_date }}</td>
                <td>{{ lease.end_date }}</td>
                <td>₱{{ lease.remaining_balance.toLocaleString() }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
