<form *ngIf="isFirstTimeUser" [formGroup]="userForm" (ngSubmit)="onSubmit()" class="container mt-4">
    <img src="assets/images/logos/avidatowersnewmnl2.png" alt="Logo" class="logo mx-auto d-block mb-3" />
    <div class="mb-3 text-center">
        <h1 class="text-center">Avida-Track Register Form</h1>
    </div>
    <div class="mb-3">

        <div class="mb-3">
        <label for="tower_number" class="fw-bold">Tower Number: </label><br>
        <p-dropdown [options]="towerOptions" formControlName="tower_number" placeholder="Select Tower"></p-dropdown>
        </div>

        <label for="floor_number" class="fw-bold">Floor Number</label> 
        <br>
        <input type="text" pInputText formControlName="floor_number" class="mb-4 container"/>
        <br>

        <label for="unit_number" class="fw-bold">Unit Number</label><br>
        <input type="text" pInputText formControlName="unit_number" class="mb-4 container"/>
        <br>

        <label for="first_name" class="fw-bold">First Name</label><br>
        <input type="text" pInputText formControlName="first_name" class="mb-4 container"/>
        <br>

        <label for="last_name" class="fw-bold">Last Name</label><br>
        <input type="text" pInputText formControlName="last_name" class="mb-4 container"/>
        <br>

        <label for="mobile_number" class="fw-bold" >Mobile Number</label> <br>
        <p-inputMask mask="0999-999-9999" formControlName="mobile_number" placeholder="99-999999"></p-inputMask>

        <span class="p-float-label mt-4">
            <p-dropdown [options]="userTypeOptions" formControlName="userType" placeholder="User Type"
                [required]="true"></p-dropdown>
            <label for="float-label">User Type</label>
        </span>

    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-rounded btn-success">Submit</button>
    </div>

</form>