<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="container mt-4">
        <span class="d-flex justify-content-center">
            <button type="button" (click)="backClick()" class="btn btn-link btn-lg bi bi-chevron-left"></button>
            <img src="assets/images/logos/avidatowersnewmnl2.png" alt="Logo" class="logo mx-auto d-block mb-3" />
        </span>
        <div class="mb-3 text-center">
            <h1 class="text-center">Avida-Track Register Form</h1>
        </div>

        <div class="mb-3 card">
            <h3 class="text-center">Are you a(n):</h3>
            <div class="d-flex flex-row gap-3 justify-content-center mb-3">
                <p-selectButton [options]="userTypeOptions" formControlName="userType" optionLabel="label"
                    optionValue="value" [allowEmpty]="false" (onOptionClick)="onUserTypeClick($event)">
                </p-selectButton>
            </div>

            <div formArrayName="unit_address" *ngFor="let unitInfo of unitAddress; let i = index">
                <div [formGroupName]="i" class="border">
                    <h3 class="text-center my-3">Select a Tower:</h3>

                    <div class="d-flex flex-row gap-3 justify-content-center mb-3">
                        <div *ngFor="let towerOption of towerOptions" class="border field-checkbox">
                            <label class="h4">
                                <input type="radio" [value]="towerOption.value" formControlName="tower_number" />
                                {{ towerOption.label }}
                            </label>
                        </div>
                    </div>

                    <div class="d-flex flex-row gap-3 justify-content-center mb-4">
                        <span>
                            <p-dropdown [options]="floors" [filter]="true" [id]="'floor_number'+i"
                                formControlName="floor_number" placeholder="Select Floor No." [showClear]="true">
                            </p-dropdown>
                        </span>

                        <span>
                            <p-dropdown [options]="units" [filter]="true" [id]="'floor_number'+i"
                                formControlName="unit_number" placeholder="Select Unit No." [showClear]="true">
                            </p-dropdown>
                        </span>
                    </div>
                </div>
                  
            </div>

            <div class="form-group">
                <div class="d-flex justify-content-around my-4">
                    <div></div>
                    <button *ngIf="showUnitButton" type="button" class="btn btn-rounded btn-primary"
                        (click)="addUnitClick()">Add Unit</button>
                </div>
            </div>

            <div class="d-flex flex-row gap-3 justify-content-center mb-4">
                <span class="p-float-label">
                    <input type="text" pInputText formControlName="first_name" />
                    <label for="first_name">First Name</label>
                </span>

                <span class="p-float-label">
                    <input type="text" pInputText formControlName="last_name" />
                    <label for="last_name">Last Name</label><br>
                </span>
            </div>

            <div class="d-flex flex-row gap-3 justify-content-center mb-4">
                <span class="p-float-label">
                    <p-inputMask mask="0999-999-9999"
                        formControlName="mobile_number"></p-inputMask>
                    <label for="mobile_number">Mobile Number</label>
                </span>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-rounded btn-success"
                    [disabled]="registerForm.invalid">Submit</button>
            </div>

        </div>
    </div>
</form>