<<<<<<< HEAD
.body {
=======
body {
>>>>>>> 3913994 (Landing Page initial design)
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    // height: 100vh;
    background: url('../../assets/images/bg/nightbg.gif') center center/cover no-repeat;
    
  }

.login-container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  font-size: 20px;
  font-family: 'Your Font Name', sans-serif;
  font-weight: bold;
  color: #333;
  text-align: center;
}

#google-btn{
  padding-top: 10px;
}

.landing-page {
  text-align: center; /* Center-align text within the landing page */
  @media only screen and (max-width: 768px) {
    margin-top: 60px;
  }
  margin-top: 10%;
}

  .intro{
    margin-left: 30px;
    margin-right: 30px;
=======
    height: 100vh;
    background: url('../../assets/images/bg/nightbg.gif') center center/cover no-repeat;
  }
  
  .landing-page {
    text-align: center; /* Center-align text within the landing page */
    
  }
  .intro{
    margin: 30px;
>>>>>>> 3913994 (Landing Page initial design)
    font-size: 20px;
  }
  

  .greetings{
    color: white;
    font-size: 45px;
    font-weight: bold;
<<<<<<< HEAD
    // margin-top: 20%;
=======
>>>>>>> 3913994 (Landing Page initial design)
  }
  
  /* Base button styles */
  .button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #4CAF50; /* Green border */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text color */
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  /* Hover effect */
  .button:hover {
    background-color: white; /* White background */
    color: #4CAF50; /* Green text color */
  }
  
  /* Active/focus effect */
  .button:focus,
  .button:active {
    outline: none; /* Remove default focus outline */
    background-color: #45a049; /* Darker green background */
    border-color: #45a049; /* Darker green border */
  }
<<<<<<< HEAD
  

/* Base styles */
.about-section {
display: flex;
justify-content: space-between;
align-items: center;
margin-right: 20px;
}

.social-media {
margin-left: 40px;
}

.social-media a {
margin-right: 10px; /* Add space between social media links */
}

.social-media i {
font-size: 25px; /* Resize the icons */
}

.social-media p {
font-weight: bold;
font-size: 15px;
}

.privacy-policy {
margin-left: 50px;
}

.privacy-policy h2 {
font-size: 24px;
}

.privacy-policy p {
margin-bottom: 10px;
}

.privacy-policy ul {
list-style-type: none;
padding: 0;
}

.privacy-policy li {
margin-bottom: 5px;
}

.privacy-policy li a {
color: #333; /* Adjust link color */
text-decoration: none;
}

.privacy-policy li a:hover {
text-decoration: underline;
}

.image-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); /* Adjust as needed */
gap: 10px; /* Adjust the gap between images */
margin-bottom: 10%;
}

.image-container {
position: relative;
margin: 30px;
}

.image-container img {
width: 100%;
height: auto;
}

.caption {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
color: white;
padding: 5px;
font-size: 12px;
text-align: center;
opacity: 0; /* Initially hidden */
transition: opacity 0.3s ease;
}

.image-container:hover .caption {
opacity: 1; /* Show caption on hover */
}

@media screen and (max-width: 768px) {
.image-grid {
  grid-template-columns: 1fr; /* Make images stack on mobile */
}
}
=======

// #avida {
//     width: 300px; /* Adjust the width as needed */
//     float: right;
//     margin-left: 20px; /* Adjust the margin as needed */
//   }
  
>>>>>>> 3913994 (Landing Page initial design)
