<body>
    <div class="landing-page">
    <p class="greetings" style="color:white">Welcome to Avida-Track</p>
      <p class="intro" style="color: white">Avida-Track is a software application designed for Avida Towers New Manila, 
        aimed at streamlining the processes involved in managing transactions for both owners and tenants. 
       </p>
      <a href="/login" class="button" style="position: absolute; top: 10px; right: 10px;">Get Started</a>
      
    </div>
  

  </body>
  <div class="about-section">
    <!-- Social media links -->
    <div class="social-media">
      <p>Follow us</p>
      <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>
    <!-- Privacy Policy and Terms of Service -->
    <div class="privacy-policy">
      <h2>About Us</h2>
      <p>Avida Towers New Manila is a condominium establishment who is wholly-owned subsidiary of Ayala Land Inc. (ALI) </p>
      <ul>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms of Service</a></li>
      </ul>
    </div>
  </div>
