<body>
    <div class="landing-page">
    <p class="greetings" style="color:white">Welcome to Avida-Track</p>
      <p class="intro" style="color: white">Avida-Track is a software application designed for Avida Towers New Manila, 
        aimed at streamlining the processes involved in managing transactions for both owners and tenants. 
       </p>
      <a href="/login" class="button" style="position: absolute; top: 10px; right: 10px;">Get Started</a>
    </div>
    <!-- <img src="assets/images/Avidapics/avidawelcome.jpg" id="avida"> -->
  </body>
  
