<!-- Add Content -->
<div *ngIf="isAdmin" class="d-flex flex-row-reverse mb-4">
    <p-button pRipple (click)="visibleContent()" icon="pi pi-plus" label="Add Content"></p-button>
    <p-dialog [(visible)]="visible" [style]="{'width': '45vw', 'height': '100vh'}" [breakpoints]="{ '960px': '90vw' }"
        [modal]="true" [dismissableMask]="true" [draggable]="false">
        <ng-template pTemplate="header">
            <div>
                <span class="p-float-label my-1">
                    <input required="true" type="text" id="title" [style]="{'width': '30vw'}" pInputText
                        [(ngModel)]="addTitle" />
                    <label for="float-label">Title</label>
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="body">
            <div class="mt-2">
                <div class="d-flex flex-row">
                    <span class="p-float-label">
                        <p-dropdown [options]="backenddata.cmsTypes" [(ngModel)]="addCms" placeholder="Content Type"
                            [required]="true"></p-dropdown>
                        <label for="float-label">Content Type</label>
                    </span>
                    <!-- File Upload -->
                    <p-fileUpload #fileUpload [auto]="true" [customUpload]="true" class="ms-3"
                        (uploadHandler)="storeImageData($event)" mode="basic"
                        [chooseLabel]="fileName ? fileName : 'Add Image'" accept="image/*" [maxFileSize]="1000000"
                        invalidFileTypeMessageDetail="Allowed file types: jpg, jpeg, png, gif, bmp">
                    </p-fileUpload>
                    <p-button *ngIf="fileName" class="ms-3" icon="pi pi-times" [rounded]="true" [text]="true"
                        severity="danger" (onClick)="clearFile()"></p-button>
                </div>

                <div class="d-flex justify-content-center my-3" *ngIf="imageSrc">
                    <p-image [src]="imageSrc"></p-image>
                </div>

                <span class="p-float-label my-4">
                    <p-calendar [(ngModel)]="addStartDate" [showTime]="false" [showSeconds]="false" [touchUI]="true"
                        appendTo="body" [showButtonBar]="true" dateFormat="yy-mm-dd" [readonlyInput]="true"
                        [iconDisplay]="'input'" [showIcon]="true" [minDate]="addStartDate"></p-calendar>
                    <label for="float-label">Date to Post</label>
                </span>
                <span class="p-float-label my-4">
                    <p-calendar pTooltip="Can leave as blank to be posted permanently" [(ngModel)]="addEndDate"
                        [showButtonBar]="true" dateFormat="yy-mm-dd" [touchUI]="true" appendTo="body"
                        [readonlyInput]="true" [iconDisplay]="'input'" [showIcon]="true" [minDate]="addStartDate"></p-calendar>
                    <label for="float-label">Date to End</label>
                </span>
                <span class="p-float-label mt-4">
                    <textarea required="true" [style]="{'width': '100%', 'height': '100%'}" rows="5" cols="30"
                        pInputTextarea [autoResize]="true" [(ngModel)]="addDescription"></textarea>
                    <label for="float-label">Description</label>
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <div>
                <p-button icon="pi pi-check" (click)="addContent()"
                    [style]="{'width': '3.125em', 'height':'3.125em'}"></p-button>
            </div>
        </ng-template>

    </p-dialog>
</div>

<!-- Scope Filters -->
<div class="container-fluid my-3">
    <p-button label="Show All" (click)="setFilter('')" [raised]="true" [rounded]="true" icon="pi pi-bars"></p-button>
    <p-button label="Announcements" (click)="setFilter('Announcement')" [raised]="true" [rounded]="true"
        icon="pi pi-check"></p-button>
    <p-button label="News" (click)="setFilter('News')" [raised]="true" [rounded]="true" icon="pi pi-flag"></p-button>
    <p-button label="Events" (click)="setFilter('Event')" [raised]="true" [rounded]="true"
        icon="pi pi-calendar"></p-button>
    <p-button label="Maintenance" (click)="setFilter('Maintenance')" [raised]="true" [rounded]="true"
        icon="pi pi-wrench"></p-button>
    <p-button *ngIf="isAdmin" label="Archived" (click)="setFilter('Archived')" [raised]="true" [rounded]="true"
        icon="pi pi-history"></p-button>
    <p-button *ngIf="isAdmin" label="To be posted" (click)="setFilter('Future')" [raised]="true" [rounded]="true"
        icon="pi pi-eye"></p-button>
</div>

<!-- Content -->
<div class="container">
    <div class="row" *ngIf="datas">
        <ng-container *ngFor="let item of pagedItems; index as i">
            <!-- *ngIf="!filter || capitalizeFirstLetter(item.cms_type) === filter" -->
            <div class="col-md-4">
                <div class="card-container">
                    <div class="card-wrapper">
                        <p-card pRipple (click)="showDialog(item)" [style]="{'background-color': '#f0f0f0'}">
                            <ng-template pTemplate="header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h2 style="color: #007bff; text-align: center; flex-grow: 1;">{{item.title}}</h2>
                                </div>
                            </ng-template>
                            <!-- <p style="color: #6c757d;">{{item.description}}</p> -->
                            <!-- Image -->
                            <div class="text-center mb-2">
                                <p-image [src]="item.image_path" alt="Image"></p-image>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    {{capitalizeFirstLetter(item.cms_type)}}
                                </div>
                                <div>
                                    {{ item.date_to_post}} {{ item.date_to_end ? "- " + item.date_to_end : ""}}
                                </div>
                                <!-- {{ item.time_to_post | convertFrom24To12Format}} -->
                            </div>
                        </p-card>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <p-paginator *ngIf="totalRecords > 9" [rows]="9" [totalRecords]="totalRecords"
        (onPageChange)="paginate($event)"></p-paginator>
</div>

<!-- Clicked Content -->
<p-dialog [(visible)]="display" [style]="{'width': '45vw'}" [breakpoints]="{ '960px': '90vw' }" [modal]="true"
    [dismissableMask]="true" [draggable]="false" (onHide)="onCloseButton()">
    <ng-template pTemplate="header">
        <!-- Edit Title -->
        <div *ngIf="contentEdit">
            <span class="p-float-label my-1">
                <input required="true" type="text" id="title" [style]="{'width': '30vw'}" pInputText
                    [(ngModel)]="editTitle" />
                <label for="title">Title</label>
            </span>
        </div>
        <!-- Title -->
        <div *ngIf="!contentEdit">
            <h2 style="color: #007bff;">{{selectedItem?.title}}</h2>
        </div>
    </ng-template>

    <ng-template pTemplate="body">
        <!-- Edit Type and Description -->
        <div *ngIf="contentEdit" class="mt-2">
            <div class="my-2 d-flex flex-row">
                <span>
                    <p-dropdown [options]="backenddata.cmsTypes" [(ngModel)]="editCms"
                        placeholder="{{displayCmsType(selectedItem?.cms_type)}}" [required]="true"></p-dropdown>
                </span>
            </div>

            <span class="d-flex justify-content-center">
                <p-image pTooltip="Click to change Image" (click)="replaceImageUpload()" [src]="imageSrc ? imageSrc : selectedItem.image_path" alt="Image">
                </p-image>
                <p-fileUpload #replaceImage hidden [auto]="true" [customUpload]="true" class="ms-3"
                    (uploadHandler)="storeImageData($event)" mode="basic" accept="image/*" [maxFileSize]="1000000"
                    invalidFileTypeMessageDetail="Allowed file types: jpg, jpeg, png, gif, bmp">
                </p-fileUpload>
            </span>

            <span class="p-float-label my-4">
                <p-calendar [(ngModel)]="editStartDate" [showButtonBar]="true" dateFormat="yy-mm-dd" [touchUI]="true"
                    appendTo="body" [readonlyInput]="true"
                    [iconDisplay]="'input'" [showIcon]="true" [minDate]="addStartDate"></p-calendar>
                <label for="float-label">Date to Post</label>
            </span>
            <span class="p-float-label my-4">
                <p-calendar pTooltip="Can leave as blank to be posted permanently" [(ngModel)]="editEndDate" [showButtonBar]="true" dateFormat="yy-mm-dd" [touchUI]="true"
                    appendTo="body" [readonlyInput]="true"
                    [iconDisplay]="'input'" [showIcon]="true" [minDate]="addStartDate"></p-calendar>
                <label for="float-label">Date to End</label>
            </span>

            <span class="p-float-label mt-4">
                <textarea required="true" [style]="{'width': '100%', 'height': '100%'}" rows="5" cols="30"
                    pInputTextarea [autoResize]="true" [(ngModel)]="editDescription"></textarea>
                <label for="float-label">Description</label>
            </span>
        </div>

        <!-- Type, Time and Description -->
        <div *ngIf="!contentEdit">
            <p>{{ displayCmsType(selectedItem?.cms_type) }}
            </p>
            <div class="d-flex flex-row-reverse">
                {{ selectedItem?.date_to_post}} {{ selectedItem?.date_to_end ? "- " + selectedItem?.date_to_end : ""}}
                <!-- {{ selectedItem?.time_to_post | convertFrom24To12Format }} -->
            </div>
            <!-- Image -->
            <div class="text-center mb-5">
                <p-image [src]="selectedItem.image_path" alt="Image"></p-image>
            </div>
            <div>
                <p style="color: #6c757d;">{{selectedItem?.description}}</p>
            </div>
        </div>
    </ng-template>

    <!-- Admin Buttons -->
    <ng-template pTemplate="footer">
        <div *ngIf="isAdmin">
            <div *ngIf="filter != 'Archived'">
                <p-button *ngIf="!contentEdit" icon="pi pi-pencil" (click)="editItem(selectedItem, $event)"
                    [style]="{'width': '3.125em', 'height':'3.125em'}"></p-button>
                <p-button *ngIf="contentEdit" icon="pi pi-check" (click)="updateAll(selectedItem)"
                    [style]="{'width': '3.125em', 'height':'3.125em'}"></p-button>
            </div>
        </div>
    </ng-template>
</p-dialog>