<div class="card" *ngIf="isAdmin">
    <div class="card-body">
        <!-- title -->
        <h4 class="card-title">Recent Reports</h4>
        <!-- <h5 class="card-subtitle">Overview of the projects</h5> -->

        <!-- title -->
        <div class="table-responsive">
            <p-table [breakpoint]="'960px'" [tableStyle]="{'min-width': '50rem'}" [value]="datas?.slice()"
                styleClass="p-datatable-striped p-datatable-gridlines">

                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let column of datas?.slice()[0] | keys">
                            <ng-container *ngIf="column !== 'user_id'">
                                {{ column }}
                            </ng-container>
                        </th>

                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-editing="editing">
                    <tr>
                        <td *ngFor="let column of datas?.slice()[0] | keys">
                            <span
                                *ngIf="column !== 'Date Posted' && column !== 'Time Posted' && column !== 'user_id' && column !== 'Type'">{{
                                rowData[column] }}</span>
                            <span *ngIf="column == 'Type'">
                                <p-tag [value]="rowData[column]"
                                    [severity]="severity.getSeverity(rowData[column])"></p-tag>
                            </span>
                            <span *ngIf="column === 'Date Posted'">{{rowData[column] | date:"MMM dd, yyyy 'at' hh:mm a"}}</span>
                            <!-- <span *ngIf="column === 'Time Posted'">{{rowData[column] | convertFrom24To12Format}}</span> -->
                        </td>

                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<div class="card" *ngIf="!isAdmin && isOwnerTenant">
    <div class="card-body">
        <!-- title -->
        <h4 class="card-title">Tenants</h4>
        <!-- <h5 class="card-subtitle">Overview of the projects</h5> -->

        <!-- title -->
        <div class="table-responsive">
            <p-table [breakpoint]="'960px'" [tableStyle]="{'min-width': '50rem'}" [value]="datas?.slice()"
                styleClass="p-datatable-striped p-datatable-gridlines">

                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let column of datas?.slice()[0] | keys">
                            <ng-container
                                *ngIf="column == 'Full Name' || column == 'Unit' || column == 'Email' || column == 'Phone Number' || column == 'Remaining Balance'">
                                {{ column }}
                            </ng-container>
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-editing="editing">
                    <tr>
                        <td *ngFor="let column of datas?.slice()[0] | keys">
                            <span *ngIf="column == 'Full Name' || column == 'Unit' || column == 'Email' || column == 'Phone Number'">
                                {{ rowData[column] }}
                            </span>
                            <span *ngIf="column == 'Remaining Balance'">
                                {{ rowData[column] | currency:'PHP'}}
                            </span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<div class="card" *ngIf="!isAdmin && !isOwnerTenant">
    <div class="card-body">
        <!-- title -->
        <h4 class="card-title">Payment History</h4>
        <!-- <h5 class="card-subtitle">Overview of the projects</h5> -->

        <!-- title -->
        <div class="table-responsive">
            <p-table [breakpoint]="'960px'" [paginator]="datas?.length > 4" [rows]="4" [tableStyle]="{'min-width': '50rem'}" [value]="datas?.slice()"
                styleClass="p-datatable-striped p-datatable-gridlines">

                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let column of datas?.slice()[0] | keys">
                            <ng-container>
                                {{ column }}
                            </ng-container>
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-editing="editing">
                    <tr>
                        <td *ngFor="let column of datas?.slice()[0] | keys">
                            <!-- <span *ngIf="column == 'Image'">  
                                <p-image [src]="rowData[column]" 
                                width="100" [preview]="true" />
                            </span> -->
                            <span *ngIf="column == 'Due Date'">
                                {{ rowData[column] | date:"MMM dd, yyyy" }}
                            </span>
                            <span *ngIf="column == 'Amount'">
                                {{ rowData[column] | currency:'PHP' }}
                            </span>
                            <span *ngIf="column == 'Status'">
                                <p-tag [value]="rowData[column]" [severity]="severity.getSeverity(rowData[column])" [rounded]="true" />
                            </span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>